{% extends 'layout/layout.html' %}

{% block title %}Movie Detail{% endblock %}

{% block content %}

<h1>Hello, world. You're at the detail page of {{ movie.title_year }} </h1>

<h3> Movie name: {{ movie.title }} </h3>
<h3> Released in: {{ movie.year }} </h3>
<!-- <h3> Description: {{ movie.description }} </h3> -->
<!-- <h3> Language: {{ movie.language }} </h3> -->
<h3> Genre: {{ movie.genre }} </h3>
<!-- <h3> Stars: {{ movie.stars }} </h3> -->
<h3> Length (min.): {{ movie.length_min }} </h3>
<h3> Overall rating: {{ movie.rating_overall }} </h3>


<!-- {% if user.is_authenticated %} -->
<h3><strong> Rate this movie: </strong></h3>
<form action="{% url 'movielist:detail' movie.id %}" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Add" />
</form>
<!-- {% endif %} -->

{% endblock %}