{% extends 'layout/layout.html' %}

{% block title %}Movie Detail{% endblock %}

{% block content %}

<h1>You're at the detail page of {{ movie.title_year }} </h1>

<h3> Movie name: {{ movie.title }} </h3>
<h3> Released in: {{ movie.year }} </h3>
<!-- <h3> Description: {{ movie.description }} </h3> -->
<!-- <h3> Language: {{ movie.language }} </h3> -->
<h3> Genre: {{ movie.genre }} </h3>
<!-- <h3> Stars: {{ movie.stars }} </h3> -->
<h3> Length (min.): {{ movie.length_min }} </h3>
<h3> Overall rating: {{ movie.rating_overall }} </h3>


{% if user.is_authenticated %} 

<h3><strong> Rate this movie: </strong></h3>

{% if user in movie.raters.all %}

<h3> You already rated this movielist.</h3>

{% else %}

<form action="{% url 'movielist:score_submission' movie.id %}" method="post">
	{% csrf_token %}
	{{ form_s.as_p }}
	<input type="submit" value="Add" />
</form>

{% endif %}

{% if movie in user.toseelist.movies.all %}

<h3><strong> Delete this movie from your wishlist: </strong></h3>
<form action="{% url 'movielist:remove_from_wishlist' movie.id %}" method="post">
	{% csrf_token %}
	{{ form_t.as_p }}
	<input type="submit" value="Delete" />
</form>

{% else %}

<h3><strong> Add this movie to your wishlist: </strong></h3>
<form action="{% url 'movielist:add_to_wishlist' movie.id %}" method="post">
	{% csrf_token %}
	{{ form_t.as_p }}
	<input type="submit" value="Add" />
</form>

{% endif %}



<!-- {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
 -->
{% endif %}


{% endblock %}