{% load staticfiles %}

<html>

<head>
	<meta charset="utf-8" />
	<title> Mhaggle {% block title %}{% endblock %}</title>
	<link href="{% static 'css/bootstrap.min.css' %}"  rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
  <!-- Brand and toggle get grouped for better mobile display -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Mhaggle</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Movielist<span class="sr-only">(current)</span></a></li>
        <li><a href="search">Search</a></li>
        </li>
      </ul>
      <!-- search bar not working now -->
<!--       <form class="navbar-form navbar-left" method="GET" action="movielist/search.html">
        <div class="form-group">
          <input type="text" name="search_terms" class="form-control" placeholder="Search a movie title">
        </div>
        <button type="submit" value="Search"/ class="btn btn-default">Go</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %} 	
        <!-- try to change this to a dropdown menu (requires javascript, but I don't know how to do that) -->
            <li><a href="/movielist/wishlist">My Wishlist</a></li>
            <li><a href="/movielist/rating_list">My Ratings</a></li>
            <li><a href="/movielist/profile_page">My profile</a></li>
        {% else %}
        <li><a href="/accounts/login">Login</a></li>
        <li><a href="#">Register</a></li>
      	{% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>


	<div class="container">
	<br>
	<br>
	<br>
		{% block content %}	

		{% endblock %}

	</div>




</body>
</html>